<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Se o arquivo ou diretório solicitado existir, ignore as regras abaixo
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  
  # Redireciona tudo para o index.html (evita 403 e 404 em Single Page Apps)
  RewriteRule ^ index.html [L]
</IfModule>
